.Rproj.user/52C2BD08/sdb/s-7D3FD8B5/lock_file
.Rproj.user/52C2BD08/sdb/s-7D3FD8B5/B131072D
.Rproj.user/52C2BD08/sdb/s-7D3FD8B5/EDE1B9C5
.Rproj.user/52C2BD08/sdb/prop/75F8BD31
.Rproj.user/52C2BD08/sdb/prop/E4E4561D
.Rproj.user/52C2BD08/sdb/prop/INDEX
*.mat